/* Think about best practices: - try not to use id s in css
                               - for colours check contrast with Coolors */
                               
/* When debugging think about: specificity and inheritance */



/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS variables */
:root {
    --heading-font: "Mystery Quest",  "Georgia", serif;
    --primary-font: "Roboto", sans-serif;
    --dragon-green: #0B870D;
    --chest-brown: #46211C;
    --treasure-yellow: #FFD700;
    --evergreen: #003326;
    --prussian-blue: #020122;
}

/* Global styles */
 body {
    background: url('../images/background-image.webp');
    background-position-x: center;
    overflow: hidden;
} 

main {
    background-color: transparent;
    min-height: 75vh;
}

h1 {
    font-family: var(--heading-font);
    color: var(--treasure-yellow);
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.2rem;
    padding: 0.5rem;
    border-radius: 10%;
    box-shadow: 3px 5px var(--prussian-blue);
    max-width: 250px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

h2 {
    font-family: var(--primary-font);
    color: #FFFFE0;
    text-align: center;
    margin-bottom: 0;
}

.custom-box {
    background-color: var(--chest-brown);
    border: 2px solid var(--prussian-blue);
}

/* Index Page */

/* Game Page */

.game-body {
    background-image: url("../images/dragon-treasure-dark.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.light-overlay {
    background-color: rgba(77, 100, 94, 0.5);
    min-height: 75vh;
    min-width: 80vw;
    margin: 20px;
    border-radius: 10%;
    position:relative
}

.dragon-symbol {
    max-height: 70vh;
    position: absolute;
    left: 20%;
    opacity: 0.7;
}
/* UI Buttons */
.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.game-button {
        width: 50px;
        height: 50px;
        font-size: larger;
        border-radius: 5px;
        background-color:aliceblue;
        align-self: center;
}


/* Feedback section */
.feedback {
    /* background-color:black; */
    margin:auto;
    /* border: 2px solid var(--prussian-blue); */
    max-width: 264px;
    min-height: 34vh;

}

.guess {
    border: 3px solid var(--prussian-blue);
    background-color: #648b5c;
}

.visible-text {
    color: var(--prussian-blue);
    font-weight: bold;
    font-size: x-large;
    font-family: var(--primary-font);
    padding-left: 10px;
}

.float-right {
    float: right;
    padding-right: 10px;
    padding-top: 4px;
}


/* Play section */
#play-area {
    background-color: transparent;
    /* height: 25vh; */
}

.hidden {
    display: none;
}

/* Form */
form {
    text-align: center;
}

.guess-form {
    top: 55%;
}

.input {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 2px solid var(--evergreen);
    border-radius: 5%;
    margin: auto;
    margin-top: 10px;
    color: var(--chest-brown);
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    font-family: var(--primary-font);
   
}

input[type="submit"] {
    background-color: var(--evergreen);
    color: var(--treasure-yellow);
    font-family: var(--primary-font);
    margin-top: 5px;
    font-size: medium;
}

/* Images */
.invisible {
    display: none;
}

/* Play button */
#play-button {
    font-family: var(--heading-font);
    color: var(--treasure-yellow);
    font-size: xx-large;
    letter-spacing: 0.3rem;
    padding: 0.5rem;
    margin-top: 20px;
    border-radius: 10%;
    box-shadow: 3px 5px var(--prussian-blue);
    min-width: 120px;
}
#play-button:hover {
    color: var(--chest-brown);
    background-color: var(--treasure-yellow);
    text-shadow: none;
    font-weight: bold;

}
#play-button-div {
    text-align: center;
}

#submit {
    display: none;
}

/* Footer */
.footer {
    min-height: 15vh;
    background-color: rgba(110, 140, 167, 0.2);
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}

/* Media queries */

/* for medium and large screens 760px and above */
@media screen and (min-width: 760px) {

    /* Heading 1 */
    h1 {
        margin-top: 50px;
        max-width: 320px;
        font-size: 3rem;
    }

    /* Feedback section */
    .feedback {
        border: none;
        margin: auto;
        max-width: none;
        display: flex;
        justify-content: center;
    }
    
    .guess {
        margin-top: 10px;
        height: 30px;

    }

    .custom-container {
       width: 264px;
    }

    .left-container {
        margin-right: 30px;
        
    }

    /* Play section */
    #play-area {
        margin-top: 15px;
    }
    
    /* Error message modal */
    #error-modal {
        top: 28%;
        left: 35%;
    }

    /* Form */
    input {
        min-width: 40px;
        min-height: 40px;
    }

    input[type="submit"] {
         min-width: 70px;
         min-height: 30px;
         margin-top: 10px;
    }

    /* Images */
    #dragon-sleeping {
        position:absolute;
        top:20px;
        left:-250px;
        display:flex;
        z-index: -900;
        /* float:inline-end; */
       
        
    }

}

